---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1 class="h1-bold" style="padding: var(--space-128); text-align: center;">
      Portfolio — Coming soon
    </h1>
  </main>
</Layout>
