---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="section-title fade-in">
  <h2 class="h1-bold">{title}</h2>
</div>

<style>
  .section-title {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: var(--space-64) var(--content-padding);
  }
</style>
